[submodule "Twilio-Backend"]
	path = Twilio-Backend
	url = https://github.com/bryanhpchiang/Twilio-Backend/
[submodule "Call-For-Code-Routing"]
	path = Call-For-Code-Routing
	url = https://github.com/lucasxia01/Call-For-Code-Routing
[submodule "ibm-frontend"]
	path = ibm-frontend
	url = https://github.com/plusCubed/ibm-frontend
[submodule "Satellite-Analysis"]
	path = Satellite-Analysis
	url = https://github.com/legitmaxwu/Satellite-Analysis.git
